@charset "utf-8";
/* CSS Document */

.outer-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100000;
	font-size: 14px;
	font-family: Jaldi, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	pointer-events: none;
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
	background: hsla(0,0%,100%,0);
	transition: background .2s ease-out
}

@media screen and (min-width:768px) {
.outer-wrapper {
	font-size: 16px
}
}
.outer-wrapper * {
	box-sizing: border-box
}
body.io-gocanvas-widget-open {
	overflow: hidden;
	position: fixed
}
body.io-gocanvas-widget-open .outer-wrapper {
	background: hsla(0,0%,100%,.85)
}

@media screen and (min-width:700px) {
body.io-gocanvas-widget-open .outer-wrapper {
	background: hsla(0,0%,100%,0)
}
}
.inner-wrapper {
	position: absolute;
	bottom: .5em;
	right: .5em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	pointer-events: auto
}
.outer-wrapper_2 .inner-wrapper {
	top: .5em;
	left: .5em
}

@media screen and (min-width:375px) {
.inner-wrapper {
	bottom: 2em;
	right: 2em
}
}

@media screen and (min-width:400px) {
.inner-wrapper {
	bottom: 3em;
	right: 3em
}
}
.webchat-button {
	width: 60px;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 100%;
	border: 0;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
	cursor: pointer;
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	transform: scale(.95);
	transition: -webkit-transform .2s ease-out;
	transition: transform .2s ease-out;
	transition: transform .2s ease-out, -webkit-transform .2s ease-out;
	-ms-flex-negative: 0;
	flex-shrink: 0
}
.webchat-button:hover {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	cursor: pointer
}
.webchat-button:focus {
	outline: 0
}
._3LXx-dvt3zqHwFmGAuCvCA {
	height: 28px
}
._dT-rEUiegnP3prdsezd {
	font-size: large
}
.window-outer-wrapper {
	width: 360px;
	height: 768px;
	margin: 0 20px 1em;
	border-radius: 12px;
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
	font-size: 1em;
	display: flex
}

@media screen and (max-height:568px) {
.window-outer-wrapper {
	width: auto;
	overflow: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 1em;
	right: 0;
	left: 0;
	bottom: 3em
}
}

@media screen and (max-height:800px) and (max-width:768px) {
.window-outer-wrapper {
	width: calc(100% - 3em)
}
}
.window-outer-wrapper header {
	padding: 12px;
	background: #2a235b;
	color: #fff;
	border-radius: 12px 12px 0 0;
	text-align: center
}
._1VXu45FIpBYox0pEaCmMzk {
	padding: 20px;
	position: relative
}
._1YDG1q4N0alqoH88Gdsr-T {
	display: block;
	margin: 0 auto
}
._12Jx8pcJg2f1j5lmIR-3jP {
	opacity: .01;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px)
}
._12Jx8pcJg2f1j5lmIR-3jP._2OkbtbVRE5JxjAEsPyj_xe {
	transition: opacity .2s ease-out, -webkit-transform .2s ease-out;
	transition: opacity .2s ease-out, transform .2s ease-out;
	transition: opacity .2s ease-out, transform .2s ease-out, -webkit-transform .2s ease-out
}
._2yDHH5wLRRUWwP2iRjuB2l, ._12Jx8pcJg2f1j5lmIR-3jP._2OkbtbVRE5JxjAEsPyj_xe {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0)
}
._2yDHH5wLRRUWwP2iRjuB2l._1aC9KL5RFKxk_-drDP4iCs {
	opacity: .01;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	transition: opacity .2s ease-out, -webkit-transform .2s ease-out;
	transition: opacity .2s ease-out, transform .2s ease-out;
	transition: opacity .2s ease-out, transform .2s ease-out, -webkit-transform .2s ease-out
}
._2up8mtjwvp1TzIr8YooGka {
	margin-bottom: 1em;
	font-size: 1em;
	color: #2a235b;
	opacity: .3;
	line-height: 21px
}
._1oZkeC3ZLS5tOge5-ongbN {
	display: block;
	margin: 4px 0 13px;
	font-size: 1em;
	color: #2a235b;
	opacity: .3;
	line-height: 1.3
}
._3WEGjoZGlKfHcyj0o2WfCd {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: hsla(0,0%,100%,.85);
	font-size: 1.75em;
	text-align: center;
	font-weight: 700;
	z-index: 10
}
._29i48JrxGACrX9E4UF4Wp1 {
	opacity: .01
}
._29i48JrxGACrX9E4UF4Wp1._1cdgj5dSzpfu54Fk6agz-u {
	opacity: 1;
	transition: opacity .35s ease-out
}
._18ua0MEQ-ouv9x_jFxjpDH {
	opacity: 1
}
._18ua0MEQ-ouv9x_jFxjpDH._2VdGxMdDOLLoIQ0WI1hy6 {
	opacity: .01;
	transition: opacity .35s ease-out
}
._2h597gElyvEwluBa_cFlIL {
	border: 0;
	margin: .6em 0;
	font-size: 1.25em;
	font-weight: 700;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	padding: 11px 18px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	color: #fff;
	text-decoration: none;
	text-align: left;
	cursor: not-allowed;
	pointer-events: none;
	background: #2b225b;
	transition: opacity .2s ease-out
}
._1UUW1ie9xSkP3-N8o39ZRE {
	cursor: pointer;
	pointer-events: all
}
._1RpWLVLo92PVvLBQ2Cjcsj {
	cursor: progress;
	pointer-events: all;
	opacity: .5
}
._2h597gElyvEwluBa_cFlIL:focus, ._2h597gElyvEwluBa_cFlIL:hover {
	outline: 0
}
._2h597gElyvEwluBa_cFlIL:focus ._1p4MyKyugf8irm7GomX0kf, ._2h597gElyvEwluBa_cFlIL:hover ._1p4MyKyugf8irm7GomX0kf {
	-webkit-transform: translateX(3px);
	-ms-transform: translateX(3px);
	transform: translateX(3px)
}
._2h597gElyvEwluBa_cFlIL:active ._1p4MyKyugf8irm7GomX0kf {
	-webkit-transform: translateX(4px);
	-ms-transform: translateX(4px);
	transform: translateX(4px)
}
._1p4MyKyugf8irm7GomX0kf {
	fill: #fff;
	padding-left: 10px;
	width: 44px;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	transition: -webkit-transform .25s;
	transition: transform .25s;
	transition: transform .25s, -webkit-transform .25s
}
._1IbBJle6DmenBdgxmHGZ5B {
	width: 400px;
	height: 400px;
	margin: -200px 0 0 -200px;
	border-radius: 50%;
	background: #fff;
	-webkit-animation: _1IbBJle6DmenBdgxmHGZ5B .5s ease-out forwards;
	animation: _1IbBJle6DmenBdgxmHGZ5B .5s ease-out forwards
}
@-webkit-keyframes _1IbBJle6DmenBdgxmHGZ5B {
0% {
-webkit-transform:scale(0);
transform:scale(0);
opacity:.3
}
to {
-webkit-transform:scale(1);
transform:scale(1);
opacity:0
}
}
@keyframes _1IbBJle6DmenBdgxmHGZ5B {
0% {
-webkit-transform:scale(0);
transform:scale(0);
opacity:.3
}
to {
-webkit-transform:scale(1);
transform:scale(1);
opacity:0
}
}
.vEboa5e8jpaeicn-dx3FG {
	position: relative;
	width: 100%;
	font-size: 1.1875em;
	color: #2a235b
}
.vEboa5e8jpaeicn-dx3FG+.vEboa5e8jpaeicn-dx3FG {
	margin-top: 18px
}
._1vivAWvein_yexEDvUhuom {
	position: absolute;
	top: 50%;
	left: 18px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}
._1ZgtCENDq7lvbjqgTBkkQB ._1vivAWvein_yexEDvUhuom {
	top: 20%;
	background: #fff
}
.EGVQku7doHbKPqSn8KT7H {
	-webkit-appearance: none;
	font-family: Jaldi, sans-serif;
	font-weight: 400;
	display: block;
	width: 100%;
	padding: 18px 18px 0;
	background: transparent;
	border: 1px solid #2a235b;
	border-radius: 3px;
	transition: background .25s;
	font-size: 1.1875em
}
._1ZgtCENDq7lvbjqgTBkkQB textarea {
	height: 140px;
	line-height: 1.25;
	padding: 25px 18px 0;
	resize: none
}
.EGVQku7doHbKPqSn8KT7H:-moz-placeholder, .EGVQku7doHbKPqSn8KT7H:-ms-input-placeholder, .EGVQku7doHbKPqSn8KT7H::-moz-placeholder, .EGVQku7doHbKPqSn8KT7H::-webkit-input-placeholder {
color:transparent
}
.YSaiT5mwlY51UmMBfiIY4 {
	position: absolute;
	left: -5000px
}
._3KY1xwpjF8yLFQCfbKtyhw ._1vivAWvein_yexEDvUhuom, ._274-RKhvywiTbla11Z0cJN ._1vivAWvein_yexEDvUhuom, .EGVQku7doHbKPqSn8KT7H:focus+._1vivAWvein_yexEDvUhuom {
	-webkit-transform: translateY(-85%) scale(.8);
	-ms-transform: translateY(-85%) scale(.8);
	transform: translateY(-85%) scale(.8)
}

@media (min-width:600px) {
._3KY1xwpjF8yLFQCfbKtyhw ._1vivAWvein_yexEDvUhuom, ._274-RKhvywiTbla11Z0cJN ._1vivAWvein_yexEDvUhuom, .EGVQku7doHbKPqSn8KT7H:focus+._1vivAWvein_yexEDvUhuom {
	-webkit-transform: translateY(-85%) scale(.8);
	-ms-transform: translateY(-85%) scale(.8);
	transform: translateY(-85%) scale(.8)
}
}
._2hvDD8rpLNmB380MNly-qy {
	opacity: 0;
	transition: opacity .25s;
	font-size: 1em
}
._274-RKhvywiTbla11Z0cJN ._2hvDD8rpLNmB380MNly-qy {
	opacity: 1
}
._1vivAWvein_yexEDvUhuom {
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s
}
.EGVQku7doHbKPqSn8KT7H:focus {
	outline: 0
}
/*# sourceMappingURL=main.css.map*/
